<!-- upload_pdf.html -->
{% extends 'accounts/index.html' %}
{% load crispy_forms_tags %}
{% block start %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
    <style>
        input {
            height: 50px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
            box-sizing: border-box;
        }
        ::placeholder {
            color: #e5e5e5;
        }
        button{
            background-color: rgba(255, 255, 255, 0.07);
        }
    </style>
</head>
<body>
    <h1>Upload PDF</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</body>
</html>
{% endblock start %}